<!DOCTYPE html>
<html>
<head>
<title>Tibia Watcher</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="main-header" role="banner">
  <img src="/tibialogo.gif"  alt="Banner Image"/>
</header>
<body>

  <div>
    <h1 >Online Players Information For <%= world %></h1>
  </div>
<div class="container">
 <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtra aqui verijas" title="Type account type"> -->
  <br>
<table data-toggle="table" data-sort-name="level" data-sort-order="desc" id="myTable" class="table table-striped ">
  <thead>
  <tr class="table-primary">
      <th data-sortable="true" data-field="level">Level</th>
      <th data-sortable="true" data-field="name">Name</th>
      <th data-sortable="true" data-field="vocation">Vocation</th>
      <th data-sortable="true" data-field="sex">Sex</th>
      <th data-sortable="true" data-field="guild">Guild</th>
      <th data-sortable="true" data-field="residence">Residence</th>
      <th data-sortable="true" data-field="account">Account</th>
      <th data-sortable="true" data-field="deaths">Last Death</th>
      <th data-sortable="true" data-field="login">Last Login</th>
      <th data-sortable="true" data-field="chars">Other Chars</th>
  </tr>
  </thead>
  <tr>
    <% playersList.forEach(function(player) { %>
    <tr >
        <td><%= player.characters.data.level %></td>
        <td><%= player.characters.data.name %></td>
        <td><%= player.characters.data.vocation %></td>
        <td><%= player.characters.data.sex %></td>
        <td><% if (player.characters.data.guild) { %> <%= player.characters.data.guild.name %> <% } %></td>
        <td><%= player.characters.data.residence %></td>
        <td><%= player.characters.data.account_status %></td>
        <td><% if (player.characters.deaths.length > 0) { %> 
          Date: <%= player.characters.deaths[0].date.date.substring(0, 16) %> 
          <br> At level: <%= player.characters.deaths[0].level %>
          <br> Reason: <%= player.characters.deaths[0].reason %>
            <% if (player.characters.deaths[0].involved.length > 0) { %> 
            <br> Involved:
              <ul>
                  <% player.characters.deaths[0].involved.forEach(function(involved) { %>
                      <li><%= involved.name %></li>
                  <% }); %>
              </ul>
            <% } %>

          <% } %>
        </td>
        <td><% if (player.characters.data.last_login.length > 0) { %> Date: <%= player.characters.data.last_login[0].date.substring(0, 16) %> <% } %></td>
        <td><% if (player.characters.other_characters.length > 0) { %> 
           <ul>
              <% player.characters.other_characters.forEach(function(char) { %>
                  <li><%= char.name %></li>
              <% }); %>
            </ul>

         <% } %></td>
    </tr>
    <% }); %>
  </tr> 
</table></br></br>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[6];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
</body>
</html>